a{
    cursor:pointer;
}
body{
    margin:0;
    background-color:#fff;
}
body a{
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    text-decoration:none;
}
/*--header--*/
/* 我們的css開端 */
.header {
    background-color: #84D9F3;
    padding-left: 20px;
    position: relative;
}
img.logo-pic {
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin-top: 5%;
    margin-right: 2%;
}
a {
    color: black;
    font-family: 'Zen Antique', serif;
}
h1.logo-name-top {
    font-size: 2.5em;
    font-family: 'Rampart One', cursive;
    margin-left: 8px;
}
h1.logo-name-bottom {
    float:left;
    font-size: 1.5em;
    font-family: 'Zen Antique', serif;
    margin-top: -10px;
    margin-left: 8px;
}
h5.major-type {
    font-family: 'Zen Antique', serif;
    margin-left: 14px;
}
hr.header-line {
    background-color: rgb(21, 124, 241);
    margin-top: -10px;
    width: 80%;
    align-items: flex-start;
}
nav.navbar {
    float: none;
    background-color: #84D9F3;
    height: 80px;
    margin-top: 0px;
    position: relative;
    width: 100%;
}
.navbar-nav {
    padding-left: 300px;
    margin-top: 0px;
}
.logo{
    display: flex;
}
li > a.dropdown-toggle {
    font-size: 15px;
}
li > a.nav-link {
    font-size: 15px;
}

a.all {
    width: 70px;
}
b.caret {
    margin-left: 10px;
}
div.search {
    position: absolute;
    float: left;
    top: 50%;
    left: 120%;
}
div.input-area {
    display: none;
    position: absolute;
    top: 100%;
    right: -5px;
    background-color:#fff;
    z-index: 99;
    /* z-index 是for立體空間(z軸)，用來層疊元素 */
    padding: 10px;
}
.input-area input[type="text"] {
    padding: 6px 10px 6px 15px;
    color: #000;
    border: 1px solid #373597;
    font-size: 12px;
    width: 200px;
    border-radius: inherit;
}
.input-area button.btn.btn-default {
    border: none;
    background: #6086d3;
    border-radius: inherit;
    float: right;
    width: 50px;
    color: #fff;
    padding: 0.5em;
}
.search:hover div.input-area {
    display:block;
}
.input-area form.navbar-form:before {
    content: '';
    position: absolute;
    right: -25px;
    top: -3%;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid #FFFFFF;
}
form.navbar-form {
    padding: 0;
    margin: 1em 0;
}
#cart {
    position: relative;
    margin-top: 9px;
    margin-left: -30px;
    margin-right: 15px;
    margin-bottom: -20px;
    font-size: 35px;
    color: #fff;
}
span.books_num {
    margin-left: 0px;
    color: #fff;
    font-style: italic;
    font-size: 20px;
}
/* books_add */
.frame {
    margin-left: 100px;
    width: 1000px;
    margin-bottom: 30px;
}
.add-book {
    margin-left: 100px;
    font-family: 'Zen Antique', serif;
    width: 1000px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: #9cd3eb;
    color:rgb(12, 74, 146);
    font-size: 35px;
}
#input_file {
    height: 65px;
    padding-top: 35px;
    padding-left: 25px;
}
/*books_edit*/
.edit-book {
    margin-left: 100px;
    font-family: 'Zen Antique', serif;
    width: 1000px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: #9cd3eb;
    color:rgb(12, 74, 146);
    font-size: 35px;
}
.edit_img {
    display: inline-block;
    margin-bottom: 10px;
}
/*books_list*/
.book-list {
    margin-left: 100px;
    font-family: 'Zen Antique', serif;
    width: 1100px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: #9cd3eb;
    color:rgb(12, 74, 146);
    font-size: 35px;
}
.frame-list {
    margin-left: 100px;
    width: 1100px;
    margin-bottom: 30px;
    font-family: 'Zen Antique', serif;
}
/*dep_list*/
.dep-list {
    margin-left: 100px;
    font-family: 'Zen Antique', serif;
    width: 700px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: #9cd3eb;
    color:rgb(12, 74, 146);
    font-size: 35px;
}
.frame-dep {
    margin-left: 100px;
    width: 700px;
    margin-bottom: 30px;
    font-family: 'Zen Antique', serif;
}
/*dep_edit*/
.edit-dep {
    margin-left: 100px;
    font-family: 'Zen Antique', serif;
    width: 700px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: #9cd3eb;
    color:rgb(12, 74, 146);
    font-size: 35px;
}
/*order_list*/
.order-list {
    margin-left: 100px;
    font-family: 'Zen Antique', serif;
    width: 1000px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: #9cd3eb;
    color:rgb(12, 74, 146);
    font-size: 35px;
}
.frame-order {
    margin-left: 100px;
    width: 1000px;
    margin-bottom: 30px;
    font-family: 'Zen Antique', serif;
}
/*admin 上排書籤 向右推*/
.nav nav-tabs{
    margin-left: 100px;
}
/*user admin*/
.edit-user {
    margin-left: 100px;
    font-family: 'Zen Antique', serif;
    width: 700px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: #9cd3eb;
    color:rgb(12, 74, 146);
    font-size: 35px;
}
.frame-user {
    margin-left: 100px;
    width: 700px;
    margin-bottom: 30px;
    font-family: 'Zen Antique', serif;
}
.user-list {
    margin-left: 100px;
    font-family: 'Zen Antique', serif;
    width: 1100px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: #9cd3eb;
    color:rgb(12, 74, 146);
    font-size: 35px;
}